[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "==3.5.0"
djangorestframework = "==3.11.1"
django-oscar-api = "==2.0.2"
django-oscar = "==2.1"
asgiref = "==3.2.10"
django-extra-views = "==0.13.0"
django-haystack = "==3.0"
django-phonenumber-field = "==3.0.1"
django-tables2 = "==2.2.1"
django-treebeard = "==4.3.1"
django-widget-tweaks = "==1.4.8"
factory-boy = "==2.12.0"
phonenumbers = "==8.12.9"
purl = "==1.5"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
text-unidecode = "==1.3"
Babel = "==2.8.0"
Django = "==2.2"
Faker = "==4.1.3"
Pillow = "==7.2.0"
upgrade = "*"
update = "==0.0.1"
style = "==1.1.0"
sorl-thumbnail = "*"

[requires]
python_version = "3.6"
